In [3]:
import pandas as pd
Location = "C:/Users/Pranjal/Downloads/dataset.csv"
df = pd.read_csv(Location, header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
1,01,040,01,NaN,NaN,NaN,NaN,NaN,Alabama,4779736,2171853,4447100,1963711,4779736,4447100

In [5]:
import pandas as pd
Location = "C:/Users/Pranjal/Downloads/dataset.csv"
df = pd.read_csv(Location)

In [6]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,1,40,1,NaN,NaN,NaN,NaN,NaN,Alabama,4779736,2171853,4447100,1963711,4779736,4447100

In [7]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

In [8]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
Degrees = zip(names,grades,bsdegrees,msdegrees,phddegrees)
columns = ['Names','Grades','BS','MS','PhD']
df = pd.DataFrame(data = Degrees, columns=column)
df

NameError: name 'column' is not defined

In [10]:
import pandas as pd
Location = "C:/Users/Pranjal/Downloads/HSG01.xls"
df = pd.read_excel(Location)

In [11]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList,
columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [12]:
writer = pd.ExcelWriter('dataframe.xlsx',engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
df2.to_excel(writer, sheet_name='Sheet2')
writer.save()

NameError: name 'df2' is not defined

In [13]:
df2= pd.DataFrame(data = GradeList,
columns=['Names','Grades'])

In [14]:
writer = pd.ExcelWriter('dataframe.xlsx',engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
df2.to_excel(writer, sheet_name='Sheet2')
writer.save()

In [15]:
import pandas as pd
names = ['Nike','Adidas','New Balance','Puma',’Reebok’]
grades = [176,59,47,38,99]
PriceList = zip(names,prices)
df = pd.DataFrame(data = PriceList, columns=['Names',’Prices’])

SyntaxError: invalid character in identifier (<ipython-input-15-3c47623d991b>, line 2)

In [16]:
import pandas as pd
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
PriceList = zip(names,prices)
df = pd.DataFrame(data = PriceList, columns=['Names','Prices'])

NameError: name 'prices' is not defined

In [17]:
import pandas as pd
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
PriceList = zip(names,grades)
df = pd.DataFrame(data = PriceList, columns=['Names','Prices'])